.blog-page {
  padding: 20px;
  background-color: #f4f4f4;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #fdfafa;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.post p {
  font-size: 1rem;
  color: #555;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}
